body {
    background-color: rgb(44, 103, 179);
    font-family: Arial, Helvetica, sans-serif;
}

.upload-container {
    margin: 100px auto;
    width: 450px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
}

.upload-container > .title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;

}

.upload-container .description {
    color: #999;
}

.upload-container .drag-drop {
    border: dashed 3px #999;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 30px;
    margin: 20px 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #999;
    gap: 10px;
}

.upload-container .drag-drop .icon svg {
    width: 100px;
    height: 100px;
    fill: rgba(44, 103, 179, 0.4);
}

.upload-container .drag-drop .btn {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4b86f0;
    color: white;
    border: none;
    border-radius: 5px;
    opacity: 80%;
    margin-top: 60px;
    margin-bottom: 0;
    min-width: 200px;
    cursor: pointer;
}

.upload-container .drag-drop .btn:hover {
    background-color: rgb(44, 103, 179)
}
 
.upload-container .uploaded-files {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-container .title-section {
    font-size: 20px;
    font-weight: bold;
    color: #999;
    text-align: left;
    padding-bottom: 20px;
    
} 

.upload-container .uploaded-files .file {
    border: solid 1px #ddd;
    border-radius: 5px;
    text-align: left;
    display: flex;
    gap: 10px;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}
.upload-container .uploaded-files .file:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.upload-container .uploaded-files .file .icon img {
    width: 40px;
    height: 40px;

}
.upload-container .uploaded-files .file .title {
    flex: 1;
    font-size: 18px;
}
.upload-container .uploaded-files .file .title .name {
    display: block;
    padding-bottom: 5px;
}
.upload-container .uploaded-files .file .title .size {
    color: #999;
    font-size: 14px;
}
.upload-container .uploaded-files .file .title .progress {
    height: 5px;
    width: 100%;
    background-color: #ccc;
    border-radius: 4px;
    overflow: hidden;
}
.upload-container .uploaded-files .file .title .progress-60 {
    background-color: #4d86f0;
    height: 5px;
    width: 60%;
    border-radius: 4px;

}
.upload-container .uploaded-files .file .actions button {
    padding: 5px;
    margin: 0 15px;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s ease-in-out;
}

.upload-container .uploaded-files .file .actions button span {
    width: 20px;
    height: 20x;
}
.upload-container .uploaded-files .file .actions button:hover {
    background-color: rgb(44, 103, 179);
    opacity: 70%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    color: #ccc;
}
